/* Write your global styles here, in PostCSS syntax */

@font-face {
	font-family: Archive;
	font-display: swap;
	src: url(/fonts/Archive/Archive-Regular.otf) format('opentype');
	src: url(/fonts/Archive/Archive-Regular.ttf) format('truetype');
}

:root {
	--title-font: Archive, 'Arial Black', sans-serif;

	/* Used for most headings */
	--heading-font: MontserratVariable;
	--heading-weight: 700;

	/** Used for links and buttons */
	--link-font: 'JetBrains MonoVariable';
	--link-weight: 500;

	/* Default font */
	--body-font: 'Nunito Sans', system-ui, -apple-system, BlinkMacSystemFont,
		'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', Arial, sans-serif;

	--primary-color: 39, 128, 148;
	--secondary-color: 125, 130, 184;
	--tertiary-color: 37, 77, 86;

	--accent-color: 230, 95, 92;
	--secondary-accent: 204, 121, 116;
	--secondary-accent: 133, 21, 16;
	--tertiary-accent: 255, 196, 191;

	--highlight: 203, 213, 255;
	--secondary-text: 255, 250, 234;
	--tertiary-text: 116, 58, 55;
	--background-base: 253, 254, 255;
	--background-contrast: 2, 24, 29;

	/** DEPRECATED */
	--link-transition: 70ms;
	--link-transition-time: 70ms;

	--text-color: var(--tertiary-color);
	--site-background: var(--highlight);
	font-size: 120%;
}

body {
	background-color: rgb(var(--secondary-color));
	color: rgb(var(--tertiary-color));
	scroll-behavior: smooth;
	font-family: var(--body-font);
	font-weight: 400;
}

body > div {
	background-color: rgb(var(--site-background));
	background-image: url('https://luke-shafer-web-design.mo.cloudinary.net/background.png');
	overflow-x: hidden;
	position: relative;
}

.page {
	padding: 2rem;
	box-sizing: border-box;
	width: 100%;
	/*min-height: 70vh;*/
}

/********* FONT STYLES *********/
/* Defaults */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

h1,
h2,
h3 {
	font-family: var(--heading-font);
	letter-spacing: 2px;
	text-align: center;
	font-weight: var(--heading-weight);
	text-transform: uppercase;
}

p {
	color: rgb(var(--background-contrast));
}

b,
strong {
	color: rgb(var(--accent-color));
}

/* Applied styles */
.main-heading {
	font-size: 2.2rem;
	padding: 0.5em 0em;
}

.styled-link {
	font-family: var(--link-font);
	font-weight: var(--link-weight);
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.visibly-hidden {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

@media (prefers-reduced-motion: reduce) {
	body * {
		/* ONLY PLACE WHERE IMPORTANT IS ALLOWED */
		/*  removes transitions and animations for all
        elements when user prefers reduced motion */
		transition: none !important;
		animation: none !important;
	}
}

*:focus-visible {
	outline: 7px solid #60b9ff !important;
}
