/* Import CSS dependencies */
@import "../node_modules/normalize.css";

/* Import the initial variables */
@import "../node_modules/bulma/sass/utilities/initial-variables";

/* // Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Nunito+Sans&family=Open+Sans&display=swap');

/* Defining Variables */
:root {
    /* Custom Colors */
    --cosmic-latte: #fffaea;
    --midnight-green-eagle-green: #254d56ff;
    --metallic-seaweed: #278094ff;
    --middle-blue-purple: #7d82b8ff;
    --tomato: #e65f5cff;
    --pink: #f7b2adff;
    --dark-coral: #cc7974ff; 

    /* Main color variables */
    --light: var(--cosmic-latte);
    --primary: var(--middle-blue-purple);
    --link: var(--metallic-seaweed);
    --info: var(--pink);
    --danger: var(--tomato);
    --success: var(--midnight-green-eagle-green);
    --warning: var(--dark-coral);

    /* Attribute color variables */
    --background: var(--light);
    --heading: var(--metallic-seaweed);

    /* Defining Primary Fonts */
    --heading-font: 'Fira Code', monospace;
    --body-font: 'Nunito Sans', sans-serif;
}

/* // Assign Font Families */
/* Import fonts */

body {
    font-family: var(--body-font);
    background-color: var(--background);
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
}

.content {
    margin: auto;
    max-width: 60rem;
}

/* .hdr {
    
} */

.hdr__logo {
    width: 100px;
}

.hdr__title {
    font-family: var(--heading-font);
    color: var(--heading);
    font-weight: 100;
    font-size: 50px;
}